<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <div th:replace = "/member/header :: headerFragment"></div>
    <tr><th>이름</th><th>이메일</th><th>상세보기</th></tr>
    <tr th:each = "memberResDto : ${memberList}">
        <td th:text="${memberResDto.name}"></td>
        <td th:text="${memberResDto.email}"></td>
<!--        member?id=xx방식으로 요청-->
<!--        @는 th의 링크 url 표현식-->
        <td><a th:href="@{/member/find(id=${memberResDto.id})}">상세보기</a></td>
    </tr>
</table>

</body>
</html>